In [1]:
#upload file from local
from google.colab import files
uploaded = files.upload()

In [0]:
import numpy as np
import pandas as pd
import random

**1. estimated-article-influence-scores-2015.csv**

In [3]:
#create a pandas data frame
df = pd.read_csv('estimated-article-influence-scores-2015.csv')
df

      Unnamed: 0                   journal_name  ... proj_ai  proj_ai_year
0              0                    3d research  ...   0.290          2015
1              1              aaps pharmscitech  ...   0.665          2015
2              2  abstract and applied analysis  ...   0.192          2015
3              3            academic psychiatry  ...   0.208          2015
4              4             academic questions  ...   0.097          2015
...          ...                            ...  ...     ...           ...
3610        3655             zoologica poloniae  ...   0.000          2015
3611        3656             zoological studies  ...   0.262          2015
3612        3657                        zoology  ...   0.483          2015
3613        3658                  zoomorphology  ...   0.317          2015
3614        3659                     zoosystema  ...   0.146          2015

[3615 rows x 8 columns]

1.
From the above observation, a column name is missing and we can infer from the values that the column represents Item

In [0]:
#Rename the unnamed column name
df.rename(columns={'Unnamed: 0':'Item_id'}, inplace=True )

In [5]:
df.head()

   Item_id                   journal_name  ... proj_ai  proj_ai_year
0        0                    3d research  ...   0.290          2015
1        1              aaps pharmscitech  ...   0.665          2015
2        2  abstract and applied analysis  ...   0.192          2015
3        3            academic psychiatry  ...   0.208          2015
4        4             academic questions  ...   0.097          2015

[5 rows x 8 columns]

2.Check all the column name and their datatypes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3615 entries, 0 to 3614
Data columns (total 8 columns):
Item_id                3615 non-null int64
journal_name           3615 non-null object
issn                   3615 non-null object
citation_count_sum     3603 non-null float64
paper_count_sum        3603 non-null float64
avg_cites_per_paper    3603 non-null float64
proj_ai                3603 non-null float64
proj_ai_year           3615 non-null int64
dtypes: float64(4), int64(2), object(2)
memory usage: 226.1+ KB

3.Check for duplicates and incorrect format

In [0]:
#Delete all those rows which has incorrect issn format
indexNames = df[df['issn'].str.match('[0-9]{4}-[0-9]{4}')==False].index
 
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

In [0]:
# dropping ALL duplicte values 
df.drop_duplicates(subset ="issn", inplace = True)

In [0]:
#Reset index after all the cleanup
final_df = df.reset_index(drop=True)

In [10]:
final_df

      Item_id                   journal_name  ... proj_ai  proj_ai_year
0           0                    3d research  ...   0.290          2015
1           1              aaps pharmscitech  ...   0.665          2015
2           2  abstract and applied analysis  ...   0.192          2015
3           3            academic psychiatry  ...   0.208          2015
4           4             academic questions  ...   0.097          2015
...       ...                            ...  ...     ...           ...
3252     3654                       zoologia  ...   0.210          2015
3253     3655             zoologica poloniae  ...   0.000          2015
3254     3656             zoological studies  ...   0.262          2015
3255     3657                        zoology  ...   0.483          2015
3256     3659                     zoosystema  ...   0.146          2015

[3257 rows x 8 columns]

4.Fill missing values with corresponding values

In [11]:
#Verify there is no more null values
final_df.isna().sum()

Item_id                 0
journal_name            0
issn                    0
citation_count_sum     12
paper_count_sum        12
avg_cites_per_paper    12
proj_ai                12
proj_ai_year            0
dtype: int64

In [0]:
#create a dictionary for filling missing values
#1.citation_count_sum to be filled with median value(because mean could result in floating values)
#2.paper_count_sum to be filled with median value(because mean could result in floating values)
#3.proj_ai to be filled with mean value
values = {'citation_count_sum': final_df.loc[:,'citation_count_sum'].median(), 'paper_count_sum': final_df.loc[:,'paper_count_sum'].median(),'proj_ai':final_df.loc[:,'proj_ai'].mean()}

In [0]:
final_df = final_df.fillna(value=values)

In [0]:
#4.avg_cites_per_paper to be filled with citation_count_sum/paper_count_sum
final_df = final_df.fillna(value={'avg_cites_per_paper':final_df['citation_count_sum']/final_df['paper_count_sum']})

In [15]:
final_df.isna().sum()

Item_id                0
journal_name           0
issn                   0
citation_count_sum     0
paper_count_sum        0
avg_cites_per_paper    0
proj_ai                0
proj_ai_year           0
dtype: int64

5.Change datatype of citation count and paper count to int

In [0]:
#Change the data type of license and influence id to integer since ids can't be float
final_df[['citation_count_sum','paper_count_sum']]=final_df[['citation_count_sum','paper_count_sum']].astype(int)

In [17]:
final_df

      Item_id                   journal_name  ... proj_ai  proj_ai_year
0           0                    3d research  ...   0.290          2015
1           1              aaps pharmscitech  ...   0.665          2015
2           2  abstract and applied analysis  ...   0.192          2015
3           3            academic psychiatry  ...   0.208          2015
4           4             academic questions  ...   0.097          2015
...       ...                            ...  ...     ...           ...
3252     3654                       zoologia  ...   0.210          2015
3253     3655             zoologica poloniae  ...   0.000          2015
3254     3656             zoological studies  ...   0.262          2015
3255     3657                        zoology  ...   0.483          2015
3256     3659                     zoosystema  ...   0.146          2015

[3257 rows x 8 columns]

In [0]:
#round avg_cites_per_paper to 2 decimal points
final_df = final_df.round({"avg_cites_per_paper":2})

In [19]:
final_df

      Item_id                   journal_name  ... proj_ai  proj_ai_year
0           0                    3d research  ...   0.290          2015
1           1              aaps pharmscitech  ...   0.665          2015
2           2  abstract and applied analysis  ...   0.192          2015
3           3            academic psychiatry  ...   0.208          2015
4           4             academic questions  ...   0.097          2015
...       ...                            ...  ...     ...           ...
3252     3654                       zoologia  ...   0.210          2015
3253     3655             zoologica poloniae  ...   0.000          2015
3254     3656             zoological studies  ...   0.262          2015
3255     3657                        zoology  ...   0.483          2015
3256     3659                     zoosystema  ...   0.146          2015

[3257 rows x 8 columns]

6.Check data quality by checking values of each column

In [20]:
#Check if there is any value in 'journal_name' that is not of type string
(final_df['journal_name'].map(type) != str).sum()

0

In [21]:
#Check if there is any value in 'proj_ai' that is not of type int
print(final_df.proj_ai_year.unique())
(final_df['proj_ai_year'].map(type) != int).sum()

[2015]

0

In [0]:
#Export cleaned csv file
final_df.to_csv("Artical_influence_score_cleaned.csv",index=False)

**2.Journals_out**

In [23]:
#create a pandas data frame
df_journals = pd.read_csv('journals_out.csv')
df_journals

              issn  ...                           url
0        1654-9880  ...                           NaN
1        2278-9480  ...                           NaN
2        1980-5918  ...  http://www.pucpr.br/revfisio
3        1121-760X  ...                           NaN
4        2319-5754  ...                           NaN
...            ...  ...                           ...
105491   0005-1098  ...                           NaN
105492  00102-0455  ...                           NaN
105493  00102-0408  ...                           NaN
105494  00102-0401  ...                           NaN
105495   0005-1098  ...                           NaN

[105496 rows x 6 columns]

In [24]:
df_journals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105496 entries, 0 to 105495
Data columns (total 6 columns):
issn            105492 non-null object
journal_name    105492 non-null object
pub_name        93631 non-null object
is_hybrid       105496 non-null float64
category        54743 non-null object
url             51095 non-null object
dtypes: float64(1), object(5)
memory usage: 4.8+ MB

In [0]:
#Delete all those rows which has incorrect issn format
incor = df_journals[df_journals['issn'].str.match('[0-9]{4}-[0-9]{4}')==False].index
 
# Delete these row indexes from dataFrame
df_journals.drop(incor , inplace=True)

In [26]:
df_journals

             issn  ...                           url
0       1654-9880  ...                           NaN
1       2278-9480  ...                           NaN
2       1980-5918  ...  http://www.pucpr.br/revfisio
4       2319-5754  ...                           NaN
5       2195-0008  ...        http://www.epj-nbp.org
...           ...  ...                           ...
105486  0005-1098  ...                           NaN
105489  0005-1098  ...                           NaN
105490  0005-1098  ...                           NaN
105491  0005-1098  ...                           NaN
105495  0005-1098  ...                           NaN

[95549 rows x 6 columns]

In [0]:
#change all the values in url to lower case
df_journals['url']= df_journals['url'].str.lower()

In [0]:
search = ('http','www')
unwant = df_journals[df_journals['url'].str.startswith(search)==False].index

In [0]:
#Drp url that does not start with http or www
df_journals.drop(unwant,inplace=True)

In [30]:
df_journals

             issn  ...                           url
0       1654-9880  ...                           NaN
1       2278-9480  ...                           NaN
2       1980-5918  ...  http://www.pucpr.br/revfisio
4       2319-5754  ...                           NaN
5       2195-0008  ...        http://www.epj-nbp.org
...           ...  ...                           ...
105486  0005-1098  ...                           NaN
105489  0005-1098  ...                           NaN
105490  0005-1098  ...                           NaN
105491  0005-1098  ...                           NaN
105495  0005-1098  ...                           NaN

[95375 rows x 6 columns]

In [0]:
# sorting by first name 
df_journals.sort_values("issn", inplace = True)

In [0]:
# dropping ALL duplicte values 
df_journals.drop_duplicates(subset ="issn", inplace = True)

In [0]:
#Reset index after all drop
temp= df_journals.reset_index(drop=True)

In [34]:
temp

            issn  ...  url
0      0002-0397  ...  NaN
1      0003-0090  ...  NaN
2      0003-5521  ...  NaN
3      0004-1254  ...  NaN
4      0005-1098  ...  NaN
...          ...  ...  ...
11914  9681-2016  ...  NaN
11915  9714-1800  ...  NaN
11916  9826-4263  ...  NaN
11917  9933-2016  ...  NaN
11918        NaN  ...  NaN

[11919 rows x 6 columns]

In [35]:
temp.isnull().sum()

issn               1
journal_name       1
pub_name        1360
is_hybrid          0
category        5763
url             6173
dtype: int64

In [0]:
#create a dictionary for filling missing values
#1.issn to be filled with value which occured most
#2.journal_name to be filled with value which occured most
#3.pub_name to be filled with value which occured most
#4.category to be filled with value which occured most
#5.url to be filled with most common url
values_jr = {'issn': temp["issn"].value_counts().idxmax(),'journal_name': temp["journal_name"].value_counts().idxmax(), 'pub_name': temp["pub_name"].value_counts().idxmax(),'category':temp["category"].value_counts().idxmax(),'url':temp["url"].value_counts().idxmax()}

In [0]:
temp = temp.fillna(value=values_jr)

In [38]:
temp.isnull().sum()

issn            0
journal_name    0
pub_name        0
is_hybrid       0
category        0
url             0
dtype: int64

In [0]:
#remove and replace special characters with space
temp['pub_name'] = temp['pub_name'].str.replace('\W', ' ')

In [40]:
temp

            issn  ...                                                url
0      0002-0397  ...  https://www.springer.com/us/open-access/spring...
1      0003-0090  ...  https://www.springer.com/us/open-access/spring...
2      0003-5521  ...  https://www.springer.com/us/open-access/spring...
3      0004-1254  ...  https://www.springer.com/us/open-access/spring...
4      0005-1098  ...  https://www.springer.com/us/open-access/spring...
...          ...  ...                                                ...
11914  9681-2016  ...  https://www.springer.com/us/open-access/spring...
11915  9714-1800  ...  https://www.springer.com/us/open-access/spring...
11916  9826-4263  ...  https://www.springer.com/us/open-access/spring...
11917  9933-2016  ...  https://www.springer.com/us/open-access/spring...
11918  1976-6696  ...  https://www.springer.com/us/open-access/spring...

[11919 rows x 6 columns]

In [41]:
#check values of is_hybrid
temp.is_hybrid.unique()

array([10.,  0.,  1.])

In [0]:
#Capitalize the first lettter after removing leading spaces for journal name,publication name and category column
ls =['journal_name','pub_name','category']
for i in ls:
  temp[i] = temp[i].apply(lambda x : x.strip().capitalize())

In [43]:
temp

            issn  ...                                                url
0      0002-0397  ...  https://www.springer.com/us/open-access/spring...
1      0003-0090  ...  https://www.springer.com/us/open-access/spring...
2      0003-5521  ...  https://www.springer.com/us/open-access/spring...
3      0004-1254  ...  https://www.springer.com/us/open-access/spring...
4      0005-1098  ...  https://www.springer.com/us/open-access/spring...
...          ...  ...                                                ...
11914  9681-2016  ...  https://www.springer.com/us/open-access/spring...
11915  9714-1800  ...  https://www.springer.com/us/open-access/spring...
11916  9826-4263  ...  https://www.springer.com/us/open-access/spring...
11917  9933-2016  ...  https://www.springer.com/us/open-access/spring...
11918  1976-6696  ...  https://www.springer.com/us/open-access/spring...

[11919 rows x 6 columns]

In [0]:
#Export cleaned csv file
temp.to_csv("Journals_cleaned.csv",index=False)

**3. Price**

In [45]:
#create a pandas data frame
df_price = pd.read_csv('price.csv')
df_price

         id   price  ...                                                url license
0      8691  1400.0  ...                                                NaN     NaN
1      8692  2175.0  ...                                                NaN     NaN
2      8693  2145.0  ...                                                NaN     NaN
3      8694  2145.0  ...                                                NaN     NaN
4      8695  2145.0  ...                                                NaN     NaN
...     ...     ...  ...                                                ...     ...
7790  16482    80.0  ...                  http://ijaers.com/payment-option/     9.0
7791  16483    85.0  ...  http://granthaalayah.com/Publication_Charges.html     1.0
7792  16484   800.0  ...        http://nursing.usp-pl.com/index.php/Nursing     2.0
7793  16485    75.0  ...                 http://iosrjen.org/pages/faqs.html    10.0
7794  16486     0.0  ...                          https://www.bmgn-lchr.nl/     2.0

[7795 rows x 7 columns]

In [46]:
df_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7795 entries, 0 to 7794
Data columns (total 7 columns):
id              7795 non-null int64
price           7795 non-null float64
date_stamp      7795 non-null object
journal_id      7795 non-null object
influence_id    759 non-null float64
url             364 non-null object
license         378 non-null float64
dtypes: float64(3), int64(1), object(3)
memory usage: 426.4+ KB

In [0]:
#Delete all those rows which has incorrect date and journal id format
indx_dt = df_price[df_price['date_stamp'].str.match('[0-9]{4}-[0-9]{2}-[0-9]{2}')==False].index
indx_jr = df_price[df_price['journal_id'].str.match('[0-9]{4}-[0-9]{4}')==False].index

In [0]:
#change all the values in url to lower case
df_price['url']= df_price['url'].str.lower()

url_del = df_price[df_price['url'].str.startswith(search)==False].index

In [0]:
# Delete these row indexes from dataFrame
df_price.drop(indx_dt , inplace=True)
df_price.drop(indx_jr , inplace=True)
df_price.drop(url_del , inplace=True)

In [50]:
df_price

         id   price  ...                                                url license
0      8691  1400.0  ...                                                NaN     NaN
1      8692  2175.0  ...                                                NaN     NaN
2      8693  2145.0  ...                                                NaN     NaN
3      8694  2145.0  ...                                                NaN     NaN
4      8695  2145.0  ...                                                NaN     NaN
...     ...     ...  ...                                                ...     ...
7790  16482    80.0  ...                  http://ijaers.com/payment-option/     9.0
7791  16483    85.0  ...  http://granthaalayah.com/publication_charges.html     1.0
7792  16484   800.0  ...        http://nursing.usp-pl.com/index.php/nursing     2.0
7793  16485    75.0  ...                 http://iosrjen.org/pages/faqs.html    10.0
7794  16486     0.0  ...                          https://www.bmgn-lchr.nl/     2.0

[7064 rows x 7 columns]

In [0]:
# sorting by first name 
df_price.sort_values("journal_id", inplace = True)

In [0]:
# dropping ALL duplicte values 
df_price.drop_duplicates(subset ="journal_id", inplace = True)

In [0]:
#Reset index after all drop
temp_pr= df_price.reset_index(drop=True)

In [54]:
temp_pr.isnull().sum()

id                 0
price              0
date_stamp         0
journal_id         0
influence_id    4950
url             5018
license         5010
dtype: int64

In [0]:
#create a dictionary for filling missing values
#1.influence_id to be filled with value which occured most
#2.license to be filled with value which occured most
#3.url to be filled with most common url
values_pr = {'influence_id': temp_pr["influence_id"].value_counts().idxmax(),'url': temp_pr["url"].value_counts().idxmax(), 'license': temp_pr["license"].value_counts().idxmax()}

In [0]:
temp_pr = temp_pr.fillna(value=values_pr)

In [57]:
temp_pr

         id   price  ...                                                url license
0      9424     0.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0
1     16021  3000.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0
2     16030  3100.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0
3     16117  3500.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0
4      9023  2150.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0
...     ...     ...  ...                                                ...     ...
5179  15442     0.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0
5180  14989     0.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0
5181  14232     0.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0
5182  15341     0.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0
5183   9011  2150.0  ...  https://www.biomedcentral.com/getpublished/art...     1.0

[5184 rows x 7 columns]

In [0]:
#Change the data type of license and influence id to integer since ids can't be float
temp_pr[['influence_id','license']]=temp_pr[['influence_id','license']].astype(int)

In [59]:
temp_pr

         id   price  ...                                                url license
0      9424     0.0  ...  https://www.biomedcentral.com/getpublished/art...       1
1     16021  3000.0  ...  https://www.biomedcentral.com/getpublished/art...       1
2     16030  3100.0  ...  https://www.biomedcentral.com/getpublished/art...       1
3     16117  3500.0  ...  https://www.biomedcentral.com/getpublished/art...       1
4      9023  2150.0  ...  https://www.biomedcentral.com/getpublished/art...       1
...     ...     ...  ...                                                ...     ...
5179  15442     0.0  ...  https://www.biomedcentral.com/getpublished/art...       1
5180  14989     0.0  ...  https://www.biomedcentral.com/getpublished/art...       1
5181  14232     0.0  ...  https://www.biomedcentral.com/getpublished/art...       1
5182  15341     0.0  ...  https://www.biomedcentral.com/getpublished/art...       1
5183   9011  2150.0  ...  https://www.biomedcentral.com/getpublished/art...       1

[5184 rows x 7 columns]

In [0]:
#Export cleaned csv file
temp_pr.to_csv("Price_cleaned.csv",index=False)